/*----- BASE START ------*/
body{
	font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6{
	font-family:courier new, \5fae\8f6f\96c5\9ed1;margin:0;padding:0;
}
code, kbd, pre, samp { font-family: courier new, courier, monospace; }
li,ul{
	list-style:none;
	padding:0;
	margin:0;
}
h1{
	color:#3A6AF3;
	font-size:20px;
	line-height:40px;
	margin-top:10px;
}
form{
	font-size:12px;
}
legend{
	border:1px solid #ccc;
	padding:3px 10px;
	background:#fff;
}
input[type='text']{
	height:20px;
	line-height:18px;
}
/*-----清理浮动---*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

*html .clearfix {
    height: 1%;
}

*+html .clearfix {
    height: 1%;
}

.l {
    float: left;
}

.r {
    float: right;
}

body pre.prettyprint {
    border: 1px dashed #CCC;
    background-color: #E9F4FB;
    margin: 10px 0;
    padding: 10px;
    overflow-x: auto;
}
/*----- 布局部分修改自YUI3的栅格系统------*/
.grid{
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
}
.grid .g-u{
    display: inline-block;
    zoom: 1; *display: inline; /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
}

.mar-t10 {
    margin-top: 10px;
}

.mar-t5 {
    margin-top: 5px;
}

body {
    background-color: #FAFDEF;
    font-size: 14px;
}

p {
    line-height: 24px;
    color: #333;
}
/*----- BASE END ------*/

/*----- header START ------*/
header {
    height: 100px;
    padding: 10px;
    background: url(http://www.36ria.com/style/images/header-bg.png) 0px 0px repeat-x;
    color: #FFC;
}

#logo {
    margin-right: 10px;
}
header h1{
    margin-top:0;
}
header p {
    color: #FFF;
    line-height: 28px;
    margin:0;
}

header  h2 {
    color: #FFF;
    font-size:25px;
}
header  h2 a {
    color:#fff;
    text-decoration:none;
}
header a {
    color: #3CF;
    text-decoration: underline;
}

header a:hover {
    color: #CCC !important;
}
header hgroup{
    margin-top:10px;
}
/*----- header END ------*/

#main {
    width: 980px;
    margin: 0 auto;
    margin-top: 10px;
}
#main fieldset {
    margin-top: 10px;
    border: 1px solid #ccc;
    background: #f6f6f6;
}

#main h1 {
    font-size: 25px;
    color: #C58080;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 5px;
}

#main h4 {
    font-size: 16px;
    color: #609574;
    padding: 5px 0px;
    border-bottom: 2px dashed #609574;
    margin: 10px 0px;
}

#main h5 {
    font-size: 16px;
    color: #C58080;
    margin: 0px;
    margin-top: 10px;
}

#main pre.prettyprint {
    border: 1px dashed #CCC !important;
    background-color: #E9F4FB;
    margin: 10px 0px;
    padding: 10px !important;
}

/*--------文档表格---------*/
.doc-tab {
    border: 1px solid #CCC;
    border-left: none;
    margin-top: 10px;
    background-color: #fff;
}

.doc-tab td {
    font-size: 14px;
    line-height: 24px;
    vertical-align: top;
    padding: 2px 12px;
}

.doc-tab td.td-title, .doc-tab tbody th {
    background-color: #E9F4FB;
    width: 80px;
    text-align: right;
    font-weight: bold;
    color: #666;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
}

.doc-tab td ul li {
    margin: 0;
}

/*-----------选项卡-------*/
.tab {
    margin-top: 10px;
}

.tab-header {
    font-size: 16px;
    background: url('http://demo.ued.taobao.net/dpl/style/images/tab-header-bg.png') 0 -1px repeat-x;
}

.tab-header li {
    float: left;
    padding: 6px 20px;
    padding-bottom: 7px;
    border-top: none !important;
    border-bottom: none !important;
    margin-top: 1px;
    margin-left: 0;
    cursor: pointer;
}

.tab-header li:hover {
    text-decoration: underline;
}

.tab-header li.current {
    background-color: #FFF;
    border: 1px solid #91CCF2;
    color: #609574 !important;
}

.tab-body {
    padding: 10px 0;
}

.tab-body li {
    margin-left: 0 !important;
}

.input-text {
    color: #333;
    padding: 2px 4px;
    width: 100px;
    border: 1px solid #91CCF2;
}

.select {
    width: 110px;
}

.com-controller td {
    line-height: 32px;
}

ol {
    padding-left: 0;
}

/*-----------API表格-------*/
.api-table {
    background-color: #fff;
}

.api-table td {
    line-height: 24px;
    padding: 3px 12px;
    border-bottom: 1px dashed #CCC;
}

.api-table thead td, .api-table thead th {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    background-color: #EDECF4;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.strong {
    font-weight: bold;
    color: #333;
}

.api-table tbody tr:hover {
    background-color: #FFC;
}