
/*  -=-=-=- AJAX RSS Reader -=-=-=- */

body {
	background: #E4ECF4;
	margin: 10px 10px 10px 10px;
	font-family: Arial, Verdana, Helvetica;
	font-size: 76%;
	color: #3F3F3F;
}
	
h2 {
	color: #7FA2C4;
	font-weight: normal;
	font-size: 1.8em;
	margin: 20px 0 0 0;
	}
	
h2 a:link, h2 a:visited {
	color: #7FA2C4;
	font-weight: normal;
	text-decoration: none;
	}

h2 a:hover, h2 a:active {
	color: #3F3F3F;
	background: none;
	font-weight: normal;
	text-decoration: none;
	}
	
a:link {
	color: #7FA2C4;
	font-weight: bold;
	text-decoration: none;
	}
	
a:visited {
	color: #999;
	}
	
a:hover, a:active {
	background: #4682B4;
	color: #fff;
	text-decoration: none;
	}
	
li {
	background: url(ok.png) no-repeat ;
	padding: 2px 0 0 20px;
	list-style: none;
}

.error {
	background: url(error.png) no-repeat;
	padding: 2px 0 0 20px;
	list-style: none;
}

div.channeltitle
{
	clear: both;
	border-top: #333 1px solid;
	font-weight: bold;
	font-size: 24px;
	padding-bottom: 2px;
	margin: 5px;
	padding-top: 2px;
	border-bottom: #333 1px solid;
	font-family: Georgia, serif, 'Times New Roman';
	background-color: #f8f8f8;
	width: 100%
}

div.channeltitle a
{
	color: black;
	text-decoration: none;
}
div.channeltitle a:hover
{
	text-decoration: underline;
}

.about {
	font-size:14px;
	width: 500px;
	clear: both;
	border: #333 1px solid;
	margin: 5px;
	padding: 8px;
	border-bottom: #333 1px solid;
	font-family: Georgia, serif, 'Times New Roman';
	background-color: #f8f8f8;
}