body{background-color:#FAFDEF;}
#header{
	height:100px;line-height:32px;
	padding:10px;
	background:url(../images/header-bg.png) 0px 0px repeat-x;
	font-size:14px;color:#FFC;
}
#logo{
	margin-right:10px;
}
#header  h2{
	font-size:16px;
	color:#FFF;

}
#header a{
	color:#3CF;
	text-decoration:underline;
}
#header a:hover{
	color:#CCC !important;
}	


/*------------正式样式----------------*/
.wrapper{
	margin-top:20px;
	padding:20px;
	background-color:#FFF;
	border:1px solid #999;
	line-height:24px;
}

.demo-p{padding:20px;background:#999;color:#FFF;margin-bottom:10px;font-size:14px;line-height:28px;}

#demo-1{
	border-radius:10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#demo-2{
	border-top-left-radius: 100px 10px;
	-moz-border-radius-topleft: 100px 10px;
}
#demo-3{
	height: 70px;
	width: 70px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background-color:#999;
}

