body{background-color:#FAFDEF;line-height:24px;}
#header{
	height:100px;line-height:32px;
	padding:10px;
	background:url(../images/header-bg.png) 0px 0px repeat-x;
	font-size:14px;color:#FFC;
}
#logo{
	margin-right:10px;
}
#header  h2{
	font-size:16px;
	color:#FFF;
	margin:0px !important;

}
#header a{
	color:#3CF;
	text-decoration:underline;
}
#header a:hover{
	color:#CCC !important;
}	

h2{
	margin:10px 0px;
}
code{
	font-size:14px;
	display:block;
	background:#F6FCE2;
	border:1px dashed #CCC;
	padding:10px;margin:10px;
	color:#666;
}
#page{
	padding:20px;
}